* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background:#333;
}

/* Progress circle engine, so to speak */
.circle {
  font-size: 0; 
  display: inline-block;
  position: relative;
  width:16rem;
  height:16rem;
  background: conic-gradient(#0a0 0deg, #ff0 360deg);
  margin:5rem 2rem;
  border-radius:8rem;
  border:0.625rem solid black;
}

.circle > div {
  height: 100%;
  width: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius:0 8rem 8rem 0;
  transform: scale(1.01);
}

.circle>div::before,
.circle>div::after {
  content: "";
  width: 100%;
  height: 100%;
  transform-origin: left;
  background: #000;
}

.circle>div::before {
  display: inline-block;
}

.circle>div::after {
  top: 0;
  left: 0;
  position: absolute;
}

.circle > div.second {
  transform: rotate(180deg) scale(1.01);;
}

.circle > div.first::after {
  transform:rotate(180deg);
}

.circle:hover > div::before {
  animation: fifty 0.5s linear 0s 1 normal forwards;
}

.circle:hover > div.second::before {
  animation-delay: 0.5s;
}

@keyframes fifty {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

/* classes for setting progress bar to specific values */
.c-20 > div.first::after {
  transform: rotate(0.2turn);
}

.c-40 > div.first::after {
  transform: rotate(0.4turn);
}

.c-50 > div.first::after {
  transform: rotate(180deg);
}

.c-60 > div.second::after{
  transform: rotate(36deg);
}

.c-75 > div.second::after {
  transform: rotate(0.25turn);
}

.c-90 >div.second::after {
  transform: rotate(0.4turn);
}

/*Content styles */

.content {
  top:3%;
  left:3%;
  width:94%;
  height:94%;
  z-index:3;
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid #000;
  border-radius: 50%;
  position:absolute;
  background:white;
  font: 400 3.5rem "Glass Antiqua", Times, serif;
  line-height:3.5rem;
  color: #333;
  box-shadow:inset 0 0 5px #333;
}